<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habijabi.mealplanner" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >








        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateRecipe"
            android:label="@string/title_activity_create_recipe"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT"
                android:value=".MainActivity" />
        </activity>



        <activity android:name=".ViewRecipe"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



        <activity android:name=".RecipeActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



        <activity android:name=".RandomReceipe"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



        <activity
            android:name=".SelIngredients"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



        <activity android:name=".AddIngredients"
            android:parentActivityName=".SelIngredients">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelIngredients" />
        </activity>



        <activity android:name=".SuggestRecipe"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



        <activity android:name=".PrintSuggestedRecipe"
            android:parentActivityName=".SuggestRecipe">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SuggestRecipe" />
        </activity>




        <activity android:name=".Grocery"
            android:parentActivityName=".MainActivity"
            android:label="Grocery List">
        </activity>
    </application>

</manifest>
